<!doctype html>

{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Advanced Analysis</title>

    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <!--Bootstrap CSS and Javascript -->
    <link type="text/css" rel="stylesheet" href="{% static 'webapp/bootstrap-5.1.3/css/bootstrap.css' %}"/>
    <script type="text/javascript" src="{% static 'webapp/bootstrap-5.1.3/js/bootstrap.js' %}"></script>

    <!-- My CSS file -->
    <link type="text/css" rel="stylesheet" href="{% static 'webapp/css/styleAdvancedAnalysis.css' %}">

</head>

<body>

<div class="navbar-fixed-top">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-gradient navbar-dark" style="z-index: 1">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><b>HOME</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/advancedAnalysis"><b>ADVANCED ANALYSIS</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<main>

    <div class="container">
        <div class="center">
            <div class="row justify-content-md-center">

                <!-- Text Insert Button -->
                <div class="col-md-auto">
                    <button type="button" class="btn btn-outline-light btn-xl" data-bs-toggle="modal"
                            data-bs-target="#textModal" style="margin-bottom:20px">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                             class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
                            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"></path>
                        </svg>
                    </button>
                </div>

                <!-- Audio Insert Button -->
                <div class="col-md-auto">
                    <button type="button" class="btn btn-outline-light btn-xl" data-bs-toggle="modal"
                            data-bs-target="#audioModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                             class="bi bi-mic-fill"
                             viewBox="0 0 16 16">
                            <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"></path>
                            <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Text Insert Modal-->
    <div class="modal fade" id="textModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <form action="results_data_analysis" method="POST" enctype="multipart/form-data">

                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100">TEXT ANALYSIS WITH DATA</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        {% csrf_token %}
                        <label for="text-form" class="form-label">Insert text to analyze</label>
                        <textarea type="text" id="text-form" class="form-control input-lg" name="text"></textarea>
                        <br>
                        <p>Upload data file for analysis (file format: .txt)</p>
                        <input class="form-control form-control-lg" type="file" name="data">
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Run</button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <!-- Audio Record Modal-->
    <div class="modal fade" id="audioModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <form action="results_data_analysis" method="POST" enctype="multipart/form-data">

                    <!-- Modal Header -->
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100">SPEECH ANALYSIS WITH DATA</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="alert alert-warning text-center" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                 class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                                 role="img" aria-label="Warning:">
                                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                            <strong>Upload the file before recording audio</strong>
                        </div>
                        <br>
                        <p>Upload data file for analysis (file format: .txt)</p>
                        <input class="form-control form-control-lg" type="file" name="data">
                        <br>
                        <div class="text-center">
                            <p>Click on the button to record the audio and wait the end of the analysis</p>
                            <button type="submit" name="record" class="btn btn-outline-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                     class="bi bi-record-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                    <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
                                </svg>
                                Record
                            </button>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</main>
</body>
</html>