@media screen and (max-width: 1025px) {
    body {
        background: url(../images/theatre-mobile-no-topic.jpg) no-repeat fixed;
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 1025px) and (orientation: landscape) {
    body {
        background: url(../images/theatre-no-topic.jpg) no-repeat fixed;
        background-size: 100% 100%;
    }
}

@media screen and (min-width: 1025px) {
    body {
        background: url(../images/theatre-no-topic.jpg) no-repeat fixed;
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 1025px) {
    .btn-circle.btn-xl {
        width: 70px;
        height: 70px;
        padding: 15px 15px;
        border-radius: 35px;
        font-size: 6px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 10px;
        left: 3%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 10px;
        right: 3%;
    }
}

@media screen and (max-width: 1025px) and (orientation: landscape) {
    .btn-circle.btn-xl {
        width: 57px;
        height: 57px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 63%;
        left: 47%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 63%;
        left: 55%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1400px) {
    .btn-circle.btn-xl {
        width: 80px;
        height: 80px;
        padding: 10px 16px;
        border-radius: 50px;
        font-size: 12px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 64%;
        left: 46.5%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 64%;
        left: 54.5%;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1800px) {
    .btn-circle.btn-xl {
        width: 100px;
        height: 100px;
        padding: 10px 16px;
        border-radius: 50px;
        font-size: 12px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 63%;
        left: 47%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 63%;
        left: 55%;
    }
}

@media screen and (min-width: 1800px) {
    .btn-circle.btn-xl {
        width: 120px;
        height: 120px;
        padding: 10px 16px;
        border-radius: 60px;
        font-size: 12px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 63%;
        left: 47%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 63%;
        left: 54%;
    }
}



