@media screen and (max-width: 1025px) {
    body {
        background: url(../images/theatre-mobile.png) no-repeat fixed;
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 1025px) and (orientation: landscape) {
    body {
        background: url(../images/theatre.png) no-repeat fixed;
        background-size: 100% 100%;
    }
}

@media screen and (min-width: 1025px) {
    body {
        background: url(../images/theatre.png) no-repeat fixed;
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 1025px) {
    .btn-circle.btn-xl {
        width: 50px;
        height: 50px;
        padding: 15px 15px;
        border-radius: 35px;
        font-size: 6px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 10px;
        left: 3%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 10px;
        right: 3%;
    }
}

@media screen and (max-width: 1025px) and (orientation: landscape) {
    .btn-circle.btn-xl {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 10px;
        left: 3%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 10px;
        right: 3%;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
    .btn-circle {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 10px;
        left: 45%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 10px;
        left: 50%;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1800px) {
    .btn-circle {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 10px;
        left: 46%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 10px;
        left: 50%;
    }
}

@media screen and (min-width: 1800px) {
    .btn-circle {
        width: 50px;
        height: 50px;
        padding: 10px 16px;
        border-radius: 35px;
        font-size: 12px;
        text-align: center;
    }

    .form-button-text {
        position: absolute;
        bottom: 10px;
        left: 45%;
    }

    .form-button-audio {
        position: absolute;
        bottom: 10px;
        left: 48%;
    }
}



