@media screen and (max-width: 1025px) {
    body {
        background: url(../../images/sentNeg/theatre-mobile.png) no-repeat fixed, url(../../images/sentNeg/art-mobile.jpg) no-repeat fixed;
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 1025px) and (orientation: landscape) {
    body {
        background: url(../../images/sentNeg/theatre.png) no-repeat fixed, url(../../images/sentNeg/art.jpg) no-repeat fixed;
        background-size: 100% 100%;
    }
}

@media screen and (min-width: 1025px) {
    body {
        background: url(../../images/sentNeg/theatre.png) no-repeat fixed, url(../../images/sentNeg/art.jpg) no-repeat fixed;
        background-size: 100% 100%;
    }
}